# theme: jekyll-theme-minimal
title: walkerrh.github.io
description: --
show_downloads: true

# Allows latex to be used with Jekyll for github pages html rendering
markdown: kramdown
highlighter: rouge
    # input: GFM

# Allows latex to be used with Jekyll for github pages html rendering
kramdown:
  math_engine: katex
  math_engine_opts:
    output: mathml

# https://stackoverflow.com/questions/26275645/how-to-support-latex-in-github-pages
# https://ionathan.ch/2022/05/22/jekyll-pages.html
# https://ionathan.ch/2021/05/19/latex-in-jekyll

# build settings
title: Minimal theme
logo: /assets/img/logo.png
# description: Minimal is a theme for GitHub Pages.
show_downloads: true
google_analytics:
theme: jekyll-theme-minimal

# recomended Gtihub setup settings
lsi: false
safe: true
source: [walkerrh.github.io]
incremental: false
# highlighter: rouge
gist:
  noscript: false
kramdown:
  # math_engine: mathjax
  syntax_highlighter: rouge
  
# Where things are
# source              : .
destination         : ./_site
collections_dir     : .
plugins_dir         : _plugins # takes an array of strings and loads plugins in that order
layouts_dir         : _layouts
data_dir            : _data
includes_dir        : _includes
sass:
  sass_dir: _sass
collections:
  posts:
    output          : true

# Handling Reading
# safe                : false
include             : [".htaccess"]
exclude             : ["Gemfile", "Gemfile.lock", "node_modules", "vendor/bundle/", "vendor/cache/", "vendor/gems/", "vendor/ruby/"]
keep_files          : [".git", ".svn"]
encoding            : "utf-8"
markdown_ext        : "markdown,mkdown,mkdn,mkd,md"
strict_front_matter : false

# Filtering Content
show_drafts         : null
limit_posts         : 0
future              : false
unpublished         : false

# Plugins
whitelist           : []
plugins             : []

# Conversion
# markdown            : kramdown
# highlighter         : rouge
# lsi                 : false
excerpt_separator   : "\n\n"
# incremental         : false

# Serving
detach              : false
port                : 4000
host                : 127.0.0.1
baseurl             : "" # does not include hostname
show_dir_listing    : false

# Outputting
permalink           : date
paginate_path       : /page:num
timezone            : null

quiet               : false
verbose             : false
defaults            : []

liquid:
  error_mode        : warn
  strict_filters    : false
  strict_variables  : false

# Markdown Processors
kramdown:
  auto_ids          : true
  entity_output     : as_char
  toc_levels        : [1, 2, 3, 4, 5, 6]
  smart_quotes      : lsquo,rsquo,ldquo,rdquo
  input             : GFM
  hard_wrap         : false
  footnote_nr       : 1
  show_warnings     : false